<!DOCTYPE html>

<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet">
    <title>Add User</title>
</head>
<body>
<div class="container-fluid">
    <div class="alert alert-light" role="alert">
        <a class="btn btn-light" th:href="@{/admin/users}">All Users</a>
    </div>
    <div id="editUserModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:object="${user}" accept-charset="UTF-8" class="row g-3"
                          th:action="@{/admin/add_user}"
                          method="post">
                        <input type="hidden" class="form-control" name="name"
                               th:field="${user.id}">
                        <div style="margin: 0;" class="mb-3">
                            <label for="Input1" class="form-label">First Name</label>
                            <input type="text" class="form-control" name="name" id="Input1" th:placeholder="${user.username}"
                                   th:field="*{username}">
                        </div>
                        <div style="margin: 0;" class=" mb-3">
                            <label for="Input2" class="form-label">Last Name</label>
                            <input type="text" class="form-control" name="lastName" id="Input2"
                                   placeholder="Pupkin" th:field="*{lastName}">
                        </div>
                        <div style="margin: 0;" class="mb-3">
                            <label for="Input3" class="form-label">Age</label>
                            <input type="text" class="form-control" name="age" id="Input3" placeholder="98" th:field="*{age}">
                        </div>
                        <div style="margin: 0;" class="mb-3">
                            <label for="Input4" class="form-label">Email address</label>
                            <input type="email" class="form-control" name="email" id="Input4"
                                   placeholder="name@example.com" th:field="*{email}">
                        </div>
                        <div style="margin: 0;" class="mb-3">
                            <label for="Input5" class="form-label">password</label>
                            <input type="password" class="form-control" name="password" id="Input5"
                                   placeholder="password" th:field="*{password}">
                        </div>
                        <div style="margin: 0;" class="mb-3">
                            <select id="roles" readonly name="roles" multiple size="2" required class="form-control">
                                <option th:each="role:${allRoles}"
                                        th:value="${role.getId()}"
                                        th:text="${role.getName()}">
                                </option>
                            </select>
                        </div>
                        <div class="col-12">
                            <input class="btn btn-info" type="submit" value="Сохранить изменения"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"></script></body>
<script>
    $(document).ready(function(){
        $("#editUserModal").modal('show');
    });
</script>
</html>